<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Text Analyazer</h1>

    <form action="/analyze" method="get">
        <textarea name = "text" style = "width: 592px; height: 82px;"></textarea>
        <input type="checkbox" name="removePunc"> Remove puntuations </input>
        <input type="checkbox" name="upperCase">  Upper Case </input>
        <input type="checkbox" name="newLineRemover"> New Line Remover </input>
        <br>
        <button type = "submit">Analyze text</button>
    </form>

</body>
</html>